body {
  padding-top: 50px;
}
footer {
  text-align: center;
}
/* centers the big titles in .explain-text */
.explain-text h1 {
  text-align: center;
}
/* title lines in .explain-text which are referred/linked to. this rule is so that the fixed navbar doesn't cover them. */
.explain-text #about,
.explain-text #contact,
.explain-text #title,
.explain-text #sitemap {
  padding-top: 60px;
  margin-top: -60px;
  display: inline-block; /* required for webkit browsers */
}
/* sets the margins around forms inside the class .explain-text to have a margin of 15px to fit in with the rest of the content. */
.explain-text form {
  margin-left: 15px;
  margin-right: 15px;
}
