body {
  padding-top: 50px;
}
footer {
  text-align: center;
}
/* lines which are referred/linked to. this is so that the fixed navbar doesn't override them. */
.explain-text h1 [id] {
  padding-top: 60px;
  margin-top: -60px;
  display: inline-block; /* required for webkit browsers */
}
.explain-text h1 {
  text-align: center;
}
